body {
  margin: 0;
  background: #000;
  color: #bbb;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 0;
  font-size: 0.75rem;
}

.canvas-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  margin-top: 8vh;
}

canvas {
  display: block;
  margin-bottom: 8px;
  image-rendering: pixelated;
  width: 80vw;
  max-width: 400px;
  height: auto;
  border: 1px solid #fff;
}

.nav {
  font-size: 18px;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6px;
}

.arrow {
  cursor: pointer;
  padding: 0 15px;
  transition: 0.2s ease;
  color: #bbb;
}

.arrow:hover {
  color: #fff;
  text-shadow: 0 0 6px #fff;
}

.arrow.disabled {
  color: #444;
  cursor: default;
  text-shadow: none;
}

.page-number {
  padding: 0 8px;
  font-size: 18px;
}

.text-container {
  max-width: 500px;
  padding: 6px 10px;
}

.text {
  font-size: 12px;
  line-height: 1.3;
  color: #bbb;
  text-align: center;
}

@media (max-width: 650px) {
  body {
    font-size: 1rem;
  }
  .nav {
    font-size: 16px;
  }
  .page-number {
    font-size: 18px;
  }
  .arrow {
    padding: 0 20px;
  }
  .text-container {
    padding: 12px 30px;
  }
  .text {
    font-size: 10px;
  }
}
